<style>
    .sgm-titulo {
        color: #000087;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        background-color: #a5a5a5;
        margin: 1em 0;
        padding: 0; 
    }
    .sgm-blue-row {
        background-color: #b5defc;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .sgm-white-row {
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }

</style>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="sgm-titulo">Relación producto insumos</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table class="table" style="margin-bottom: 0px;">
                            <thead>
                                <tr>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Nombre del producto</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <input class="form-control input-sm" type="text" ng-model="vm.filter.nombre">
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="panel-body" style="height: 300px; overflow-y: scroll; padding-right: 0;">
                        <table class="table">
                            <tbody>
                                <tr style="cursor: default" ng-class="{info: producto.selected}" dir-paginate="producto in vm.productos | filter : {nombre: vm.filter.nombre} | itemsPerPage: 10 "
                                    pagination-id="gridProductos" >
                                    <td style="vertical-align:middle; text-align: center;"  class="col-xs-5 col-sm-5 col-md-5 col-lg-5" ng-click="vm.rowSelectedProducto(producto)">{{producto.nombre}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <dir-pagination-controls pagination-id="gridProductos"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" ng-if="vm.paquetesEnsayos">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table class="table" style="margin-bottom: 0px;">
                            <thead>
                                <tr>
                                    <th style="text-align: center; border-bottom: 0;" ></th>
                                    <th style="text-align: center; border-bottom: 0;">Nombre paquete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="panel-body" style="height: 300px; overflow-y: scroll; padding-right: 0;">
                        <table class="table">
                            <tbody>
                                <tr style="cursor: default" dir-paginate-start="paqueteEnsayo in vm.paquetesEnsayos | itemsPerPage: 10 "
                                    pagination-id="gridPaquetes" >
                                    <td>
                                        <button class="btn btn-primary btn-xs" ng-if="paqueteEnsayo.expanded" ng-click="paqueteEnsayo.expanded = false"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                        <button class="btn btn-primary btn-xs" ng-if="!paqueteEnsayo.expanded" ng-click="paqueteEnsayo.expanded = true"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </td>
                                    <td style="vertical-align:middle;"><b>{{paqueteEnsayo.paquete}}</b></td>
                                </tr>
                                <tr dir-paginate-end ng-repeat="ensayo in paqueteEnsayo.ensayos" ng-if="paqueteEnsayo.expanded" ng-class="{info: ensayo.selected}">
                                    <td style="vertical-align:middle; text-align: center;" >
                                        <input type="checkbox" ng-model="ensayo.multiSelect"/>
                                    </td>
                                    <td style="vertical-align:middle;" ng-click="vm.rowSelectedEnsayo(ensayo, paqueteEnsayo)">{{ensayo.descripcion}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <dir-pagination-controls pagination-id="gridPaquetes"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row" ng-if="vm.ensayoSelected">
        <div class="sgm-titulo" style="font-size: 20px; margin-bottom: 30px; margin-top: 30px;">Configuración</div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#reactivos">Reactivos</a></li>
            <li><a data-toggle="tab" href="#estandares">Estándares</a></li>
            <li><a data-toggle="tab" href="#menu2">Condiciones cromatográficas</a></li>
            <li><a data-toggle="tab" href="#hojaCalculo">Hoja cálculo</a></li>
        </ul>

        <div class="tab-content">
            <div id="reactivos" class="tab-pane fade in active">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding-bottom: 0px;">
                            <table class="table">
                                <thead>
                                    <tr>

                                        <th style="text-align: center; border-bottom: 0;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Reactivos asociados</th>
                                    </tr>
                                    <tr>
                                        <th style="border-bottom: 0;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <input class="form-control input-sm" type="text" ng-model="vm.reactivosAsociadosFilter.nombre">
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr style="cursor: default" dir-paginate="item in vm.reactivosAsociados | filter : vm.reactivosAsociadosFilter.nombre | itemsPerPage: 5 "
                                        pagination-id="gridReactivosAsociados">
                                        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                            <input type="checkbox" ng-model="item.selected" />
                                        </td>
                                        <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{item.codigo}} {{item.nombre}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <dir-pagination-controls pagination-id="gridReactivosAsociados"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button type="button" class="btn btn-danger" style="width: 100%;" ng-click="vm.clickDesasociarReactivos($event)">Eliminar <i class="fa fa-forward" aria-hidden="true"></i></button>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary" style="width: 100%;" ng-click="vm.clickAsociarReactivos($event)"><i class="fa fa-backward" aria-hidden="true"></i> Agregar</button>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding-bottom: 0px;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Reactivos disponibles</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <input class="form-control input-sm" type="text" ng-model="vm.reactivosDisponiblesFilter.nombre">
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tbody>

                                    <tr style="cursor: default" dir-paginate="item in vm.reactivosDisponibles | filter: vm.reactivosDisponiblesFilter.nombre | itemsPerPage: 5 "
                                        pagination-id="gridReactivosDisponibles">
                                        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                            <input type="checkbox" ng-model="item.selected" />
                                        </td>
                                        <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{item.codigo}} {{item.nombre}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <dir-pagination-controls pagination-id="gridReactivosDisponibles"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>


            <div id="estandares" class="tab-pane fade">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding-bottom: 0px;">
                            <table class="table">
                                <thead>
                                    <tr>

                                        <th style="text-align: center; border-bottom: 0;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Estándares asociados</th>
                                    </tr>
                                    <tr>
                                        <th style="border-bottom: 0;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <input class="form-control input-sm" type="text" ng-model="vm.estandaresAsociadosFilter.nombre">
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr style="cursor: default" dir-paginate="item in vm.estandaresAsociados | filter : vm.estandaresAsociadosFilter.nombre | itemsPerPage: 5 "
                                        pagination-id="gridEstandaresAsociados">
                                        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                            <input type="checkbox" ng-model="item.selected" />
                                        </td>
                                        <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{item.codigo}} {{item.nombre}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <dir-pagination-controls pagination-id="gridEstandaresAsociados"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button type="button" class="btn btn-danger" style="width: 100%;" ng-click="vm.clickDesasociarEstandares($event)">Eliminar <i class="fa fa-forward" aria-hidden="true"></i></button>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary" style="width: 100%;" ng-click="vm.clickAsociarEstandares($event)"><i class="fa fa-backward" aria-hidden="true"></i> Agregar</button>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding-bottom: 0px;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Estándares disponibles</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <input class="form-control input-sm" type="text" ng-model="vm.estandaresDisponiblesFilter.nombre">
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tbody>

                                    <tr style="cursor: default" dir-paginate="item in vm.estandaresDisponibles | filter : vm.estandaresDisponiblesFilter.nombre | itemsPerPage: 5 "
                                        pagination-id="gridEstandaresDisponibles">
                                        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                            <input type="checkbox" ng-model="item.selected" />
                                        </td>
                                        <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{item.codigo}} {{item.nombre}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <dir-pagination-controls pagination-id="gridEstandaresDisponibles"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>


            <div id="menu2" class="tab-pane fade">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <form>
                        <br/>
                        <div class="panel panel-info sgm-panel-reg-muestra-datos-nerales">
                            <div class="panel-body">
                                <div class="row sgm-white-row">
                                    <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Condición cromatográfica</label>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <select class="form-control" name="mySelect" id="mySelect" ng-change="vm.selectCondicionCromatografica()"
                                                ng-options="item.id as (item.codigo +   ' ' +   item.nombre) for item in vm.condicionesCromatograficas"
                                                ng-model="vm.ensayoSelected.id_condicion_cromatografica">
                                            <option value="">Ninguno</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row sgm-white-row">
                                    <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Columna</label>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <select class="form-control" name="columnaSelect" id="columnaSelect" ng-change="vm.selectColumna()"
                                                ng-options="item.id as (item.numero +  ' ' +   item.marca) for item in vm.columnas"
                                                ng-model="vm.ensayoSelected.id_columna">
                                            <option value="">Ninguno</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div id="hojaCalculo" class="tab-pane fade">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <form>
                        <br/>
                        <div class="panel panel-info sgm-panel-reg-muestra-datos-hojas">
                            <div class="panel-body">
                                <div class="row sgm-white-row">
                                    <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Hoja cálculo</label>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <select class="form-control" name="mySelect" id="mySelect" ng-change="vm.selectHojaCalculo()"
                                                ng-options="item.id as item.nombre for item in vm.hojasCalculo"
                                                ng-model="vm.ensayoSelected.id_hoja_calculo">
                                            <option value="">Ninguno</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="waitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{vm.waitModalText}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                     style="width: 100%">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>