* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    padding: 20px;
    text-align: center;
    background: #0099FF;
    color: white;
}

nav {
    color: blanchedalmond;
    background-color:  #F7BFBE;
}





.main {
    flex: 75%;
    background-color: white;
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background: #FF5733;
    font-size: 18px;
}

@media screen and (max-width:600 px) {
    .contenedor {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .contenedor::after{
        width: 100%;
        content:"";
        display: block;
        clear:both;
    
    }
    
    aside {
        width: 100%;
        flex: 25%;
        background-color: #f1f1f1;
        padding: 20px;
    }

    img {
        width: 100%;
    }
    h6 {
        width: 100%;
    }
}
