
<div class="row" ng-show="vm.usuario.permisosBandejaEntrada.EnsayosEstadoProgramado">
    <div class="table-responsive">
        <table class="table table-hover" >
            <caption><b>{{ vm.nombreBandeja }}</b></caption>
            <thead>
                <tr class="active">
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></th>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Muestra</th>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Duración</th>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Temperatura</th>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Cliente</th>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Producto</th>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Lote</th>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Ensayo</th>
                </tr>
                <tr>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></th>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <input class="form-control input-sm" type="text" ng-model="vm.muestra" ng-change="vm.changeFilter()">
                    </th>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <input class="form-control input-sm" type="text" ng-model="vm.duracion" ng-change="vm.changeFilter()">
                    </th>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <input class="form-control input-sm" type="text" ng-model="vm.temperatura" ng-change="vm.changeFilter()">
                    </th>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <input class="form-control input-sm" type="text" ng-model="vm.nombre_cliente" ng-change="vm.changeFilter()">
                    </th>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <input class="form-control input-sm" type="text" ng-model="vm.producto" ng-change="vm.changeFilter()">
                    </th>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <input class="form-control input-sm" type="text" ng-model="vm.lote" ng-change="vm.changeFilter()">
                    </th>
                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <input class="form-control input-sm" type="text" ng-model="vm.ensayo" ng-change="vm.changeFilter()">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="cursor: default" ng-class="{'danger': vm.evaluarAlertaFechaCompromiso(programacionEnsayo.fecha_compromiso)}" ng-repeat-start="programacionEnsayo in vm.muestras">
                    <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <button class="btn btn-primary" ng-if="programacionEnsayo.expanded" ng-click="programacionEnsayo.expanded = false">-</button>
                        <button class="btn btn-primary" ng-if="!programacionEnsayo.expanded" ng-click="programacionEnsayo.expanded = true">+</button>
                    </td>
                    <td style="cursor: pointer; vertical-align:middle; text-align: center;" ng-click="vm.eventClickProgramarMuestra(programacionEnsayo)" class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><a>{{programacionEnsayo.show_id_muestra}}</a></td>
                    <td style="vertical-align:middle; text-align: center;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{programacionEnsayo.duracion.label}}</td>
                    <td style="vertical-align:middle; text-align: center;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{programacionEnsayo.temperatura.label}}</td>
                    <td style="vertical-align:middle; text-align: center;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >{{programacionEnsayo.muestra.tercero.nombre}}</td>
                    <td style="vertical-align:middle; text-align: center;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{programacionEnsayo.muestra.producto.nombre}}</td>
                    <td style="vertical-align:middle; text-align: center;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{programacionEnsayo.muestra.numero_lote}}</td>
                    <td style="vertical-align:middle; text-align: center;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></td>
                </tr>
                <tr ng-class="{'danger': vm.evaluarAlertaFechaCompromiso(ensayo.fecha_comp_internoEnsayo)}" ng-if="programacionEnsayo.expanded" ng-repeat-end ng-repeat="ensayo in programacionEnsayo.ensayos_sub_muestra">
                    <td style="vertical-align:middle; text-align: center;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></td>
                    <td ng-click="vm.eventClickProgramarMuestra(programacionEnsayo)" class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><img alt="Detalle" style="cursor: pointer; margin-left: 50%; margin-top: 10%" src="views/images/detalle.png"/></td>
                    <td style="vertical-align:middle; text-align: center;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{programacionEnsayo.duracion.label}}</td>
                    <td style="vertical-align:middle; text-align: center;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{programacionEnsayo.temperatura.label}}</td>
                    <td style="vertical-align:middle; text-align: center;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{programacionEnsayo.muestra.tercero.nombre}}</td>
                    <td style="vertical-align:middle; text-align: center;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{programacionEnsayo.muestra.producto.nombre}}</td>
                    <td style="vertical-align:middle; text-align: center;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{programacionEnsayo.muestra.numero_lote}}</td>
                    <td style="vertical-align:middle; text-align: center;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ensayo.descripcion_especifica}}</td>

                </tr>                        
                <tr>
                    <td colspan="8">
                        <i ng-show="!vm.muestras" class="load-icon-cliente fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="margin-top: 10px;"> 
            Página: 
            <input style="width: 60px; display: inline" type="number" class="form-control" ng-model="vm.pagina" ng-change="vm.changeFilter()"
                   ng-disabled="true"> 
            / {{ vm.maxPage}} 
            <button class="btn btn-danger btn-sm" ng-click="vm.firstPage()">
                <i class="fa fa-step-backward" aria-hidden="true"></i>
            </button> 
            <button class="btn btn-danger btn-sm" ng-click="vm.resPage()">
                <i class="fa fa-backward" aria-hidden="true"></i>
            </button> 
            <button class="btn btn-danger btn-sm" ng-click="vm.addPage()">
                <i class="fa fa-forward" aria-hidden="true"></i>
            </button> 
            <button class="btn btn-danger btn-sm" ng-click="vm.lastPage()">
                <i class="fa fa-step-forward" aria-hidden="true"></i>
            </button> 
            <div style="float: right">
                Registros por página
                <input type="radio" ng-model="vm.cantidad" value="5" ng-change="vm.changeFilter()"> 5
                <input type="radio" ng-model="vm.cantidad" value="10" ng-change="vm.changeFilter()"> 10
                <input type="radio" ng-model="vm.cantidad" value="20" ng-change="vm.changeFilter()"> 20
            </div>
        </div>
    </div>
</div>


