<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>SoulSystem</title>
        <meta charset="UTF-8">
        <style type="text/css">
          .jqx-notification-container
            {
                z-index:1000000;
            }
        </style>
        <link href="utils/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="utils/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="views/scripts/angular/angular.min.js"></script>
        <script type="text/javascript" src="views/scripts/muestraModule/regMuestraScripts/regMuestraModuleApp.js"></script>
        <script type="text/javascript" src="views/ComponentsJS/regMuestra/reg-muestra.component.js"></script>
        <link rel="stylesheet" href="views/jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
        <link rel="stylesheet" href="views/jqwidgets/jqwidgets/styles/sgm1personal.css" type="text/css" />
        <link rel="stylesheet" href="views/jqwidgets/jqwidgets/styles/personal2.css" type="text/css" />
        <link rel="stylesheet" href="views/jqwidgets/jqwidgets/styles/personal3.css" type="text/css" />
        <link rel="stylesheet" href="views/jqwidgets/jqwidgets/styles/personal4.css" type="text/css" />
        <link rel="stylesheet" href="views/jqwidgets/jqwidgets/styles/jqx.bootstrap.css" type="text/css" />
        
        <script type="text/javascript" src="views/scripts/menu.js"></script>
        <script type="text/javascript" src="views/scripts/muestraModule/almacenMuestra.js"></script>
        <script type="text/javascript" src="views/scripts/muestraModule/historicoEstadosMuestra.js"></script>
        <script type="text/javascript" src="views/scripts/muestraModule/consultaMuestras.js"></script>
        <script type="text/javascript" src="views/scripts/muestraModule/consultaMuestrasEst.js"></script>
        <script type="text/javascript" src="views/scripts/programacionModule/programacionAnalistas.js"></script>
        <script type="text/javascript" src="views/scripts/programacionModule/consultaDisponibilidadUsuarios.js"></script>
        <script type="text/javascript" src="views/scripts/informes/DisponibilidadUsuarios.js"></script>
        <script type="text/javascript" src="views/scripts/informes/EstadosdelaMuestra.js"></script>
        <script type="text/javascript" src="views/scripts/informes/generarStikers.js"></script>
         <script type="text/javascript" src="views/scripts/informes/hcplanta.js"></script>
          <script type="text/javascript" src="views/scripts/informes/informeplanta.js"></script>
        <script type="text/javascript" src="views/scripts/informes/estadisticaResultados.js"></script>
        
        
        <script type="text/javascript" src="views/scripts/fismicdesModule/consultaHojaRutaMuestra.js"></script>
        <script type="text/javascript" src="views/scripts/fismicdesModule/hojaRutaPrint.js"></script>
        <script type="text/javascript" src="views/scripts/muestraModule/docsMuestra.js"></script>
        <script type="text/javascript" src="views/scripts/administracion/adminPerfil.js"></script>
        <script type="text/javascript" src="views/scripts/administracion/adminUsuario.js"></script>
        <script type="text/javascript" src="views/scripts/administracion/adminEquipo.js"></script>
        <script type="text/javascript" src="views/scripts/administracion/adminMetodo.js"></script>
        <script type="text/javascript" src="views/scripts/administracion/adminPrinActivo.js"></script>
        <script type="text/javascript" src="views/scripts/administracion/adminEnsayo.js"></script>
        <script type="text/javascript" src="views/scripts/administracion/adminPaquete.js"></script>
        <script type="text/javascript" src="views/scripts/administracion/adminEstandar.js"></script>
        <script type="text/javascript" src="views/scripts/administracion/adminForma.js"></script>
        <script type="text/javascript" src="views/scripts/administracion/adminProducto.js"></script>
        <script type="text/javascript" src="views/scripts/administracion/adminTercero.js"></script>
        <script type="text/javascript" src="views/scripts/cotizacion/regCotizacion.js"></script>
        <script type="text/javascript" src="views/scripts/cotizacion/consultaCotizacion.js"></script>
        <script type="text/javascript" src="views/scripts/muestraModule/repoDocs.js"></script>
        <script type="text/javascript" src="views/scripts/estabilidad/regEstCotizacion.js"></script>
        <script type="text/javascript" src="views/scripts/configuracionPerfil.js"></script>

        
        <script type="text/javascript" src="views/scripts/custom.js"></script>
        
        <script type="text/javascript" src="views/jqwidgets/scripts/jquery-1.11.1.min.js"></script>
        
        <script type="text/javascript" src="views/jqwidgets/jqwidgets/jqxangular.js"></script>
        <script type="text/javascript" src="views/jqwidgets/jqwidgets/jqxfileupload.js"></script>
        
        <script type="text/javascript" src="views/jqwidgets/jqwidgets/jqx-all.js"></script>
        

        
        <script type="text/javascript">
            
        </script>
        
        
        
        
        

        
    </head>
    <body style="margin: 0; padding: 0; border: 0" >
        <div id="wrapper">
            <div  style="border-style: solid;width: 100%;height: 125px;border: 0;background-color: #000087 " >
                <div style="border-style: solid;width: 10%;height:100%;float: left;border: 0 ">                    
                    #LOGO_LAB#
                    
                </div>
                <div style="border-style: solid;width: 10%;height:100%;float: left;border: 0 ">                    
                    
                    <p>#NOM_LAB#</p>
                </div>
                <div style="border-style: solid;width: 60%;height:100%;float: left;border: 0">
                    #LOGO_APP#
                </div>
                <div style="border-style: solid;width: 20%;height:100%;float: left; border: 0">
                    #PERFIL#
                </div>
            </div>
            <div style="border-style: solid;border: 0;height: auto; margin-top: 0px;padding-top: 0px">
                <div style="border-style: solid; border: 0; width:100%;
                     height: auto;margin-left: 0%;margin-right: 0%; margin-top: 0px; padding-top: 0px">  
                    #MENU#
                </div>
            </div>
            <div style="border-style: solid;border: 0;height: auto;">
                <div style="border-style: solid;border: 0;width: 90%;
                     height: 100%;margin-left: 5%;margin-right: 5%">
                    #CONTENIDO#                      
                </div>
            </div >
            <div style="text-align: center; border-style: solid; border: 0; height: 10px; width: 100%; margin-left: 0%">
                <center><img src="views/images/mr1.png" style="height: 15px" /></center>
            </div>
        </div>
        
        <script src="views/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="views/ServicesJS/tercero/tercero.service.js" type="text/javascript"></script>
        <script src="views/ComponentsJS/sgm-jqx-typeahead/sgm-typeahead.components.js" type="text/javascript"></script>
    </body>
</html>

