<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
   <head>
	         <title>pagina master</title>
	         <meta charset="utf-8">
	         <meta name="author" content="Dennis Fabián Ovalle">
	         
	          <link rel="stylesheet" type="text/css" href="views/css/estilos1.css">
                  <link rel="stylesheet" type="text/css" href="css/estilos1.css">
	        
	
       </head>

<body>
	
	      <div id="contenedor">
		  <div   id="head1">
			  <div class="titulop">
                              <img src="images/tEnsayo1.png" style="height: 100px" />
                          </div>			  		  
			  <div id="logo">
				para el logo  
			  </div><!--fin de logo-->
		  </div><!--fin de head1-->
		  <div class="menu">
			  #MENU#
		  </div><!--fin de menu-->
		  <div id="contenido">
			#CONTENIDO# 	 	  
			  
		</div><!--fin de contenido-->
                <div class="notfloat">
                    
                </div>
		  <div id="pie">
			  <p>pie de pagina</p>
		  </div><!--fin de pie-->
      </div><!--fin contenedor-->
</body>
</html>