<!DOCTYPE html>

<html>
    <head>
        <title>SoulSystem</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="margin: 0; padding: 0; border: 0">
        <div id="wrapper" >
            <div id="header1" style="background-color: #000087;border-style: solid; border: 0; height: 60px; width: 100%; margin-left: 0%">
                <div id="subheader1" style="width: 70%; margin-left: 15%;border-style: solid; border: 0;height: 100%">
                    <div id="titulo1" style="float: left;width: 48%; border-style: solid; border: 0;height: 100%">
                        #NOM_LAB#
                    </div> 
                    <div id="titulo2" style="float: right; width: 50%; border-style: solid; border: 0;height: 100%">
                        
                    </div> 
                </div>
            </div>
            <div id="header2" style="background-color: white;border-style: solid; border: 0; height: 150px; width: 100%; margin-left: 0%">
                <div id="subheader1" style="width: 70%; margin-left: 15%;border-style: solid; border: 0;height: 100%">
                    <div id="logo" style="background-color: white; float: left;width: 25%; border-style: solid; border: 0;height: 100%">
                        #LOGO_APP#
                    </div> 
                    <div id="nombre" style="background-color: white; float: right; width: 75%; border-style: solid; border: 0;height: 100%">
                        #NOM_APP#
                    </div> 
                </div>
                
            </div>
            <div id="contenido" style="background-color: white;border-style: solid; border: 0; height: 400px; width: 100%; margin-left: 0%">
                <div id="subheader1" style="width: 70%; margin-left: 15%;border-style: solid; border: 0;height: 100%;overflow: hidden">
                    <div id="contenido1" style="background-color: white; float: left;width: 50%; border-style: solid; border: 0">
                        #CONTENIDO1#
                    </div> 
                    <div id="contenido2" style="background-color: white; float: left; width: 50%; border-style: solid; border: 0;height: 100%">
                        #CONTENIDO2#
                    </div> 
                </div>
            </div>
             <div id="footer" style="text-align: center; background-color: white;border-style: solid; border: 0; height: 10px; width: 100%; margin-left: 0%">
                 <center><img src="views/images/mr1.png" style="height: 15px" /></center>
            </div>
        </div>
    </body>
</html>
