<style>
    .sgm-titulo {
        color: #000087;
    }
</style>
<div class="page-alerts" >
    <div class="alert alert-success page-alert" id="alert-1">
        <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <strong>{{vm.mensajeAlerta}}</strong>
    </div>
    <div class="alert alert-danger page-alert" id="alert-2">
        <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <strong>{{vm.mensajeAlerta}}</strong>
    </div>
    <div class="alert alert-warning page-alert" id="alert-5">
        <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <strong>{{vm.mensajeAlerta}}</strong>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="sgm-titulo">Administración de estándares</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table class="table" style="margin-bottom: 0px;">
                            <thead>
                                <tr>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Código</th>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Nombre</th>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Tipo</th>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Lote activo</th>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Potencia</th>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Fecha vencimiento</th>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Opciones</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <input class="form-control input-sm" type="text" ng-model="vm.filter.codigo">
                                    </th>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <input class="form-control input-sm" type="text" ng-model="vm.filter.nombre">
                                    </th>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <input class="form-control input-sm" type="text" ng-model="vm.filter.tipo">
                                    </th>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <input class="form-control input-sm" type="text" ng-model="vm.filter.lote">
                                    </th>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <input class="form-control input-sm" type="text" ng-model="vm.filter.potencia">
                                    </th>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <input class="form-control input-sm" type="text" ng-model="vm.filter.fecha_vencimiento">
                                    </th>
                                    <th style="text-align: center; border-bottom: 0;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="panel-body" style="height: 300px; overflow-y: scroll; padding-right: 0;">
                        <table class="table">
                            <tbody>
                                <tr style="cursor: default" ng-show="!estandar.edit" ng-class="{info: estandar.selected}" ng-repeat="estandar in vm.estandares
                                    | filter: {codigo: vm.filter.codigo, nombre: vm.filter.nombre, tipo: vm.filter.tipo,
                                    potencia: vm.filter.potencia, lote: vm.filter.lote, 
                                    fecha_vencimiento: vm.filter.fecha_vencimiento}">
                                    <td style="vertical-align:middle; text-align: center;"  class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-click="vm.rowSelectedEstandar(estandar, $index)">{{estandar.codigo}}</td>
                                    <td style="vertical-align:middle; text-align: center;"  class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="vm.rowSelectedEstandar(estandar, $index)">{{estandar.nombre}}</td>
                                    <td style="vertical-align:middle; text-align: center;"  class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-click="vm.rowSelectedEstandar(estandar, $index)">{{estandar.tipo}}</td>
                                    <td style="vertical-align:middle; text-align: center;"  class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="vm.rowSelectedEstandar(estandar, $index)">{{estandar.lote}}</td>
                                    <td style="vertical-align:middle; text-align: center;"  class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="vm.rowSelectedEstandar(estandar, $index)">{{estandar.potencia}}</td>

                                    <td style="vertical-align:middle; text-align: center;"  class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="vm.rowSelectedEstandar(estandar, $index)">{{vm.validarFecha(estandar.fecha_vencimiento)}}</td>
                                    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2" align="center">
                                        <button type="button" class="btn btn-info btn-sm" ng-click="vm.administrarAdjuntos(1, estandar)">H.S.</button>

                                        <button type="button" class="btn btn-success btn-sm" ng-click="vm.eventClickEditarEstandar(estandar)"><i class="fa fa-pencil" aria-hidden="true"></i></button>

                                        <button type="button" class="btn btn-danger btn-sm" ng-click="vm.openModalEliminarEstandar(estandar, $index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-primary" ng-click="vm.openModalNewEstandar()"><i class="fa fa-plus" aria-hidden="true"></i> Agregar nuevo estándar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newEstandarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Crear nuevo Estándar</h4>
                </div>
                <div class="modal-body">
                    <form name="newEstandarForm">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="nombre">Código:*</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="nombre" type="text" ng-model="vm.newEstandar.codigo" required/>
                                </div>
                            </div>

                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="nombre">Nombre:*</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="nombre" type="text" ng-model="vm.newEstandar.nombre" required/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="lote">Tipo:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <select class="form-control" name="mySelect" id="mySelect"
                                            ng-options="tipo for tipo in vm.tipos"
                                            ng-model="vm.newEstandar.tipo"></select>
                                </div>
                            </div>

                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="origen">Origen:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="origen" type="text" ng-model="vm.newEstandar.origen" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="almacenamiento">Almacenamiento:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="almacenamiento" type="text" ng-model="vm.newEstandar.almacenamiento" />
                                </div>
                            </div>

                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="uso">Uso previsto:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <textarea class="form-control" id="uso" ng-model="vm.newEstandar.uso_previsto" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="propiedades">Propiedades:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <textarea class="form-control" id="propiedades" ng-model="vm.newEstandar.propiedades" ></textarea>
                                </div>
                            </div>

                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="ubicacion">Ubicación:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="ubicacion" type="text" ng-model="vm.newEstandar.ubicacion" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="vm.closeModalNewEstandar()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.confirmNewEstandarModal()" ng-disabled="!newEstandarForm.$valid"> <i class="fa fa-check" aria-hidden="true"></i> Aceptar</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="editarEstandarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Estándar</h4>
                </div>
                <div class="modal-body">
                    <form name="editarEstandarForm">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="nombre">Código:*</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="nombre" type="text" ng-model="vm.estandarSelected.codigo" required/>
                                </div>
                            </div>

                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="nombre">Nombre:*</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="nombre" type="text" ng-model="vm.estandarSelected.nombre" required/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="lote">Tipo:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <select class="form-control" name="mySelect" id="mySelect"
                                            ng-options="tipo for tipo in vm.tipos"
                                            ng-model="vm.estandarSelected.tipo"></select>
                                </div>
                            </div>

                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="origen">Origen:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="origen" type="text" ng-model="vm.estandarSelected.origen" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="almacenamiento">Almacenamiento:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="almacenamiento" type="text" ng-model="vm.estandarSelected.almacenamiento" />
                                </div>
                            </div>

                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="uso">Uso previsto:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <textarea class="form-control" id="uso" ng-model="vm.estandarSelected.uso_previsto" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="propiedades">Propiedades:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <textarea class="form-control" id="propiedades" ng-model="vm.estandarSelected.propiedades" ></textarea>
                                </div>
                            </div>

                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="ubicacion">Ubicación:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="ubicacion" type="text" ng-model="vm.estandarSelected.ubicacion" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="vm.closeModalEditarEstandar()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.confirmarCambiosEstandar()" ng-disabled="!editarEstandarForm.$valid"> <i class="fa fa-check" aria-hidden="true"></i> Aceptar</button>
                </div>
            </div>
        </div>
    </div>



    <!--Seccion lotes asociados al estándar-->
    <div ng-if="vm.isSelectedEstandar">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="sgm-titulo">Lotes asociados al estándar <strong>"{{vm.estandarSelected.nombre}}"</strong></h2>
            </div>
        </div>
        <div class="row">
            <!--Panel grilla de lotes estándar-->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding-bottom: 0px;">
                        <table class="table" style="margin-bottom: 0px;">
                            <thead>
                                <tr>
                                    <!--Activo-->
                                    <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align: center; border-bottom: 0;">Activo</th>
                                    <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align: center; border-bottom: 0;">Certificado</th>
                                    <!--Codigo-->
                                    <th class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="text-align: center; border-bottom: 0;">Lote</th>
                                    <!--Descripcion-->
                                    <!--Tipo
                                    <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align: center; border-bottom: 0;">Tipo</th>-->
                                </tr>
                                <tr>
                                    <!--Activo-->
                                    <th style="text-align: center; border-bottom: 0;"></th>
                                    <th style="text-align: center; border-bottom: 0;"></th>
                                    <!--Codigo-->
                                    <th style="text-align: center; border-bottom: 0;">
                                        <input class="form-control input-sm" type="text" ng-model="vm.filterLote.codigo">
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="panel-body" style="height: 395px; overflow-y: scroll; padding-right: 0;">
                        <table class="table">
                            <tbody>
                                <tr ng-class="{info: item.selected}" style="cursor: default" ng-repeat="item in vm.lotesEstandar| filter : {codigo: vm.filterLote.codigo, descripcion: vm.filterLote.descripcion, tipo: vm.filterLote.tipo}"
                                    ng-show="!item.edit">
                                    <!--Activo-->
                                    <td ng-if="item.activo == true" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="vertical-align:middle; text-align: center;"
                                        ng-click="vm.clickTdGrillaLoteEstandar($index, item)">
                                        <i style="cursor: pointer" ng-click="vm.desactivarLote(item)" class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>
                                    </td>
                                    <td ng-if="item.activo == false" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="vertical-align:middle; text-align: center;"
                                        ng-click="vm.clickTdGrillaLoteEstandar($index, item)">
                                        <i style="cursor: pointer" ng-click="vm.activarLote()" class="fa fa-square-o fa-lg" aria-hidden="true"></i>
                                    </td>
                                    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2" align="center">
                                        <button type="button" class="btn btn-info" ng-click="vm.administrarAdjuntos(0, item)">Certificado</button>
                                    </td>
                                    <!--Codigo-->
                                    <td class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="vertical-align:middle; text-align: center;" ng-click="vm.clickTdGrillaLoteEstandar($index, item)">
                                        {{item.codigo}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-primary" ng-click="vm.openModalNewLote()"><i class="fa fa-plus" aria-hidden="true"></i> Agregar nuevo lote</button>
                    </div>
                </div>
            </div>



            <!--Detalle Lote Seleccionado -->
            <div id="elemPrueba" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 " ng-if="vm.loteSelected">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Detalle del lote {{vm.loteSelected.codigo}}
                    </div>
                    <div class="panel-body" >
                        <form name="actualizarEstandarForm">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="codigo">Lote*:</label>
                                        <input class="form-control" id="codigo" type="text" ng-model="vm.loteSelected.codigo" required/>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="descripcion">Pureza*:</label>
                                        <input class="form-control" id="descripcion" type="text" ng-model="vm.loteSelected.descripcion" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="cantidad">Cantidad (mg):</label>
                                        <input class="form-control" id="cantidad" type="number" string-to-number ng-model="vm.loteSelected.cantidad" />
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Fecha ingreso:</label>
                                        <jqx-date-time-input ng-model="vm.loteSelected.fecha_ingreso" jqx-ng-model jqx-width="'100%'" jqx-height="30"></jqx-date-time-input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Fecha apertura:</label>
                                        <jqx-date-time-input ng-model="vm.loteSelected.fecha_apertura" jqx-ng-model jqx-width="'100%'" jqx-height="30"></jqx-date-time-input>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Fecha terminacion:</label>
                                        <jqx-date-time-input ng-model="vm.loteSelected.fecha_terminacion" jqx-ng-model jqx-width="'100%'" jqx-height="30"></jqx-date-time-input>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Fecha vencimiento:</label>
                                        <jqx-date-time-input ng-model="vm.loteSelected.fecha_vencimiento" jqx-ng-model jqx-width="'100%'" jqx-height="30"></jqx-date-time-input>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="stock">Consecutivo*:</label>
                                        <input class="form-control" id="stock" type="number" ng-model="vm.loteSelected.stock" string-to-number required/>
                                    </div>
                                </div>
                            </div>


                            <div class="row">

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="numcas"># Cas:</label>
                                        <input class="form-control" id="numcas" type="text" ng-model="vm.loteSelected.num_cas"/>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="humedad">Humedad:</label>
                                        <input class="form-control" id="humedad" type="text" ng-model="vm.loteSelected.humedad"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="cantInicial">Cantidad inicial:</label>
                                        <input class="form-control" id="cantInicial" type="number" ng-model="vm.loteSelected.cantidad_inicial" string-to-number />
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="cantFinal">Cantidad final:</label>
                                        <input class="form-control" id="cantFinal" type="number" ng-model="vm.loteSelected.cantidad_final" string-to-number />
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="basepotencia">Observaciones:</label>
                                        <textarea class="form-control" id="basepotencia" ng-model="vm.loteSelected.base_potencia"></textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="observaciones">Kardex:</label>
                                        <textarea class="form-control" id="observaciones" rows="6" ng-model="vm.loteSelected.observaciones" ></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-success" ng-click="vm.editarLote(vm.loteSelected)" data-dismiss="alert" ng-disabled="!actualizarEstandarForm.$valid" >Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalCofirmmActivarLote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="text-danger modal-title" id="myModalLabel">Confirmar activación lote</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="text-danger col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-1 col-sm-offset-1
                             col-md-offset-1 col-lg-offset-1">
                            <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            ¿Confirma que desea activar este lote?
                            <br> ¡Recuerde que esta accion provocará que todos los demas lotes asociados al estándar seran desactivados!
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-primary" ng-click="vm.clickConfirmActivateLote()"><i class="fa fa-check-circle fa-2x" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newLoteEstandarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Crear nuevo lote asociado al estándar</h4>
                </div>
                <div class="modal-body">
                    <form name="newLoteEstandarForm">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="nombre">Lote:*</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="nombre" type="text" ng-model="vm.newLoteEstandar.codigo" required/>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="cantidad">Cantidad (mg):</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="cantidad" type="number" string-to-number ng-model="vm.newLoteEstandar.cantidad" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="lote">Pureza*:</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="lote" type="text" ng-model="vm.newLoteEstandar.descripcion" required/>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="stock">Consecutivo*:</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="stock" type="number" ng-model="vm.newLoteEstandar.stock" string-to-number required/>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label>Fecha ingreso:</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <jqx-date-time-input class="jqxWidgetDate" ng-model="vm.newLoteEstandar.fecha_ingreso" jqx-ng-model jqx-width="'100%'" jqx-height="30"></jqx-date-time-input>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label>Fecha apertura:</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <jqx-date-time-input class="jqxWidgetDate" ng-model="vm.newLoteEstandar.fecha_apertura" jqx-ng-model jqx-width="'100%'" jqx-height="30"></jqx-date-time-input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label>Fecha terminación:</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <jqx-date-time-input class="jqxWidgetDate" ng-model="vm.newLoteEstandar.fecha_terminacion" jqx-ng-model jqx-width="'100%'" jqx-height="30"></jqx-date-time-input>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label>Fecha vencimiento:</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <jqx-date-time-input class="jqxWidgetDate" ng-model="vm.newLoteEstandar.fecha_vencimiento" jqx-ng-model jqx-width="'100%'" jqx-height="30"></jqx-date-time-input>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="cas"># Cas:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="cas" type="text" ng-model="vm.newLoteEstandar.num_cas" />
                                </div>
                            </div>

                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="humedad">Humedad:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="humedad" type="text" ng-model="vm.newLoteEstandar.humedad" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="cantInicial">Cantidad Inicial:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="cantInicial" type="number" ng-model="vm.newLoteEstandar.cantidad_inicial" />
                                </div>
                            </div>

                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="cantFinal">Cantidad Final:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="cantFinal" type="number" ng-model="vm.newLoteEstandar.cantidad_final" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="potencia">Observaciones:</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-10 col-lg-10">
                                <div class="form-group">
                                    <textarea class="form-control" id="potencia"  ng-model="vm.newLoteEstandar.base_potencia" ></textarea>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="observaciones">Kardex:</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-10 col-lg-10">
                                <div class="form-group">
                                    <textarea class="form-control" id="observaciones" rows="5" ng-model="vm.newLoteEstandar.observaciones" ></textarea>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="cantActual">Cantidad actual:</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="cantActual" type="number" string-to-number ng-model="vm.newLoteEstandar.cantidad_actual" />
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="stock">Stock:</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="stock" type="number" ng-model="vm.newLoteEstandar.stock" string-to-number/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="loteInterno">Lote interno:</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="loteInterno" type="text" ng-model="vm.newLoteEstandar.lote_interno" />
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label>Fecha preparación:</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <jqx-date-time-input class="jqxWidgetDate" ng-model="vm.newLoteEstandar.fecha_preparacion" jqx-ng-model jqx-width="'100%'" jqx-height="30"></jqx-date-time-input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label>Fecha promoción:</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <jqx-date-time-input class="jqxWidgetDate" ng-model="vm.newLoteEstandar.fecha_promocion" jqx-ng-model jqx-width="'100%'" jqx-height="30"></jqx-date-time-input>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="tipo">Tipo:</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="tipo" type="text" ng-model="vm.newLoteEstandar.tipo" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="tipo">Cantidad preparada:</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" id="tipo" type="text" ng-model="vm.newLoteEstandar.cantidad_preparada" />
                                </div>
                            </div>
                        </div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="vm.closeModalNewLoteEstandar()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.confirmNewLoteEstandarModal()" ng-disabled="!newLoteEstandarForm.$valid"> <i class="fa fa-check" aria-hidden="true"></i> Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="waitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{vm.waitModalText}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                     style="width: 100%">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalAdjuntos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="text-info modal-title" id="myModalLabel">Adjuntos</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div id="treeDocsEstandar" style="visibility: visible;"></div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <jqx-file-upload id="fileUploadDocsEstandar" jqx-settings="vm.loadFileUploadDocsEstandar" jqx-on-upload-start="vm.onUploadStart(event)" jqx-on-upload-end="vm.onUploadEnd(event)"></jqx-file-upload>
                            <br/>
                            <button class="btn btn-danger" ng-click="vm.eliminarArchivo()">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRazonEliminacionEstandar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="estandarEliminacion">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" >Razón De La Eliminación</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="razonEliminacion" type="text" ng-model="vm.razonEliminacion" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" ng-disabled="!estandarEliminacion.$valid" ng-click="vm.eliminarEstandar()">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>